<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Estacion Meteorológica IES Gregorio Prieto</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="static/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include('partials/header') %>
        <div id="layoutSidenav">
            <%- include('partials/menu') %>
            <input type="hidden" id="datosMetorologicos" name="datosMetorologicos" value=<%=data1%>>
            <input type="hidden" id="datosPrecipitaciones" name="datosPrecipitaciones" value=<%=data2%>>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Proyecto STEAM</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"></li>
                        </ol>
                        <p class="breadcrumb-item active justificar">La estación meteorológica es un proyecto STEAM realizado en el curso 2020-2021, en la que han participado diferentes grupos de alumnado, Bachillerato y FP (Básica y Superior) cuyo objetivo ha sido la construcción de una estación meteorológica con envío de datos para el estudio del cambio climático, tanto a la Escuela de Caminos de Ciudad Real de la Universidad de Castilla La Mancha, como a un servidor del propio centro creado por alumnado de 1º de Desarrollo de Aplicaciones Multiplataforma, donde se muestran los datos recibidos por la estación. </p>
                        <br><br>

                        <!--Carrousel con las imágenes del proyecto-->
                        <!--sacamo un script inline para poder hacer el carrousel con un bucle-->
                        <div id='carouselFotos' class="carrousel"></div>
                    <br><br> 
                    <h2>Últimos datos recibidos:</h2>
                    <hr> 
                    <br>
                    <table class="tabla">
                        <tr>
                            <td class="cizquierda">
                                <div class="row">
                                    <div>
                                        <div class="card tarjeta1 text-white mb-4">
                                            <div class="card-body" id='temperaturaCard'>TEMPERATURA</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="cderecha">
                                <div class="row">
                                    <div>
                                        <div>
                                            <div class="card-header">
                                                <i class="fas fa-chart-area me-1"></i>
                                                <b>Temperaturas Ultimas 24 Horas</b>
                                            </div>
                                            <div class="card-body"><canvas id="myAreaChartTemperatura" width="100%" height="40"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cizquierda">
                                <div class="row">
                                    <div>
                                        <div class="card tarjeta2 text-white mb-4">
                                            <div class="card-body" id='presionCard'>PRESIÓN ATMOSFÉRICA</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="cderecha">
                                <div class="row">
                                    <div>
                                        <div>
                                            <div class="card-header">
                                                <i class="fas fa-chart-area me-1"></i>
                                                <b>Presion Ultimas 24 Horas</b>
                                            </div>
                                            <div class="card-body"><canvas id="myAreaChartPresion" width="100%" height="40"></canvas></div>
                                        </div>
                                    </div>
                                </div>  
                            </td>
                        </tr>
                        <tr>
                            <td class="cizquierda">
                                <div class="row">
                                    <div>
                                        <div class="card tarjeta3 text-white mb-4">
                                            <div class="card-body" id='humedadCard'>HUMEDAD RELATIVA</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="cderecha">
                                <div class="row">
                                    <div>
                                        <div>
                                            <div class="card-header">
                                                <i class="fas fa-chart-bar me-1"></i>
                                                <b>Humedad Relativa Ultimas 24 Horas</b>
                                            </div>
                                            <div class="card-body"><canvas id="myAreaChartHumedad" width="100%" height="40"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cizquierda">
                                <div class="row">
                                    <div>
                                        <div class="card tarjeta4 text-white mb-4">
                                            <div class="card-body" id='radiacionCard'>RADIACIÓN ULTRAVIOLETA</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="cderecha">
                                <div class="row">
                                    <div>
                                        <div>
                                            <div class="card-header">
                                                <i class="fas fa-chart-area me-1"></i>
                                                <b>Radiacion Ultravioleta Ultimas 24 Horas</b>
                                            </div>
                                            <div class="card-body"><canvas id="myAreaChartRadiacion" width="100%" height="40"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cizquierda">
                                <div class="row">
                                    <div>
                                        <div class="card tarjeta5 text-white mb-4">
                                            <div class="card-body" id='precipitacionesCard'>LLUVIAS ACUMULADAS:</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="cderecha">
                                <div>
                                    <div>
                                        <div class="card-header">
                                            <i class="fas fa-chart-bar me-1"></i>
                                            <b>Precipitaciones Ultimas 24 Horas</b>
                                        </div>
                                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br><br>

                </main>
                <%- include('partials/footer') %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/scripts.js"></script>
        <script src="static/scriptsTarjetas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="static/scriptGraficasAreasIndex.js"></script>
        <script src="static/scriptGraficasBarras.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/datatables-simple-demo.js"></script>
        <script src="static/carousel.js"></script>
    </body>
</html>
